.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .product-card {
    width: 30%;
    margin-bottom: 20px;

    @include media-tablet {
      width: 40%;
    }

    @include media-mobile {
      width: 100%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}