.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .product-card {
    width: 100%;
    margin-bottom: 20px;

    @media (min-width: 700px) {
      width: 40%;
      margin-left: 10px;
      margin-right: 10px;
    }

    @media (min-width: 1000px) {
      width: 30%;
    }
  }
}
