.basket {
  background-image: url('../../assets/images/loginBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 2.5rem;
  padding-top: 100px;

  @include media-mobile {
    padding: 1rem;
  }

  &__wrapper {
    display: flex;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    min-height: 95vh;

    @include media-tablet {
      flex-direction: column;
    }
  }

  &__logo {
    background-image: url('../../assets/images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 7rem;
    height: 7rem;
    margin-top: 12.5rem;

    @include media-tablet {
      display: none;
    }
  }

  &__link {
    color: lightblue;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;

    @include media-mobile {
      font-size: 0.75rem;
    }

    &:hover {
      color: #e91e63;
    }
  }

  &__main-link {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      background-image: url(/src/assets/images/home.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0.75rem;
    }
  }

  &__decor {
    flex-basis: 40%;
    padding: 2.4rem 3.6rem;

    @include media-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 1rem;
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;

    @include media-tablet {
      font-size: 1.5rem;
    }

    @media (max-width: 680px) {
      display: none;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.125rem;
    gap: 2rem;

    &--center {
      align-items: center;
    }

    @include media-mobile {
      margin-bottom: 1rem;
    }

    h1 {
      @include media-mobile {
        font-size: 1.5rem;
      }
    }
  }

  &__inline-flex {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 12%;
  }

  &__col {
    width: 50%;

    @media (max-width: 680px) {
      width: 100%;
    }
  }

  &__btn {
    @extend %btn-placeholder;

  }

  &__inner {
    flex-basis: 60%;
    background-color: #fff;
    padding: 2.4rem 3.6rem;
    border-radius: 0 1.2rem 1.2rem 0;

    @include media-tablet {
      border-radius: 0 0 1.2rem 1.2rem;
    }

    @include media-mobile {
      padding: 1rem;
      font-size: 0.75rem;
    }
  }

  &__flex {
    display: flex;
    gap: 0.6rem;
    justify-content: space-between;
    margin: 0.6rem 0;

    @include media-mobile {
      flex-direction: column;
    }

    form {
      margin-bottom: 10px;
    }
  }

  &__input {
    padding: 0.6rem;
    border-radius: 0.3125rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0.6rem;

    &:placeholder {
      color: rgba(0, 0, 0, 0.6);
    }

    &:hover {
      border: 1px solid $color-secondary;
      outline: 1px solid $color-secondary;
    }
  }
}