.card {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }

  @media (min-width: 700px) {
    width: 46%;
  }

  @media (min-width: 1000px) {
    width: 31%;
  }

  img {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .not-avalable {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  &__description {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__name {
      margin-top: 0;
    }

    &__role {
      margin-top: 0;
      color: #8a8888;
      font-style: italic;
      font-weight: 300;
    }

    &__bio {
      margin-top: 0;
      font-weight: 600;
      font-size: 14px;

      @media (min-width: 700px) {
        font-size: 16px;
      }
    }

    &__contribution {
      font-family: 'Roboto', sans-serif;
      margin-top: 0;
      text-align: justify;
      font-size: 14px;

      @media (min-width: 700px) {
        font-size: 16px;
      }

      span {
        font-weight: 500;
        font-style: italic;
      }
    }

    &__social-media {
      margin-top: auto;

      &_link {
        margin-right: 10px;
        svg {
          width: 32px;
          height: 32px;
          color: #e91e63;
        }
      }
    }
  }
}
