.breadcrumbs {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
  margin-bottom: 2rem;
  @include media-mobile {
    justify-content: right;
    font-size: 0.8rem;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #ff0000;
    }
  }
  .active {
    color: #ff0000;
    & ~ a {
      font-size: 0;
    }
  }
}
