.slider {
  overflow: hidden;
  touch-action: pan-y;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider__list {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  // column-gap: 10px;
  list-style: none;
  padding: 0px; // TODO: check Normalize - looks like this 10 years old one doesn't work
  margin: 0px; // TODO: Normalize doesn't work
  transition: transform 0.3s ease-out;
  &.swiping {
    transition: none;
  }
}

.slider__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.slider__navigation-item {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #c5cae9;
  cursor: pointer;

  &.active {
    background-color: #ef256a;
  }
  &:hover:not(.active) {
    background-color: #ffffff;
  }
}
