.slider {
  overflow: hidden;
  touch-action: pan-y;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider__list {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
  margin: 0px; 
  transition: transform 0.3s ease-out;
  &.swiping {
    transition: none;
  }
}

.slider__navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.slider__navigation-item {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: $color-tertiary;
  cursor: pointer;

  &.active {
    background-color: $color-accent;
  }
  &:hover:not(.active) {
    background-color: $color-primary;
  }
}
