.logo {
  width: 40px;
  height: 40px;
  background: url('./images/logo.svg') no-repeat;
  background-size: cover;

  &:hover {
    transform: translateY(2px);
  }
}

.header {
  position: absolute;
  height: 90px;
  inset: 0;
  background-color: #ef256a;
  color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  z-index: 1;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite;
    margin-left: 20px;
    margin-right: auto;
  }

  @keyframes pulse {

    0%,
    100% {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    50% {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    }
  }

  &__navigation {
    display: flex;
    gap: 20px;
  }

  &__link:hover {
    transform: translateY(2px);
  }
}